
body{
  background-color: antiquewhite;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMiQ9w0A8uflN3jiH7lIahzAhwlWllfhL7gQ&s);
  text-align: center;
}
h1{
         color:darkslategrey; 
         font-style: italic;
         font: size 500px;;
         justify-content: center;
         align-items: center;
         margin: 0;
}
.grid-container {
display: grid;
grid-template-columns: repeat(3,1 frameborder); 
gap: 20px; 
background-color: lightgray;
padding: 10px;
}
.grid-item{
background-color:pink;
border: 5px solid #ccc;
padding: 20px;
text-align: center;
font-weight: bold;
font-style: oblique;
}